.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.snack-ingredient, .ingredient-list{
  list-style-position: inside;
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

ul li {
  padding: .5em 1em;
}

.sweet, .salty, .mixed {
  border-radius: 30px;
  padding: .5em;
  margin: .5em;
  text-align: center;
  opacity: 0.8;
  transition: 0.3s;
}

.sweet:hover {opacity: 1}
.salty:hover {opacity: 1}
.mixed:hover {opacity: 1}

.sweet{
  background: rgb(46, 19, 46);
  color: white;
}

.salty {
  background: rgb(254, 212, 136);
  color: black;
}

.mixed {
  background: rgb(25, 50, 25);
  color: white;
}